.input {
    position: relative;

    display: flex;
    align-items: center;

    &-input {
        width: 100%;
        font-style: normal;

        border: none;
        outline: none;
        font-family: var(--font-title);

        &_bordered {
            border: 1px solid #C2C2C2;
        }

        &_size {
            &_l {
                font-size: 18px;
                line-height: 120%;

                padding: 21px 24px;
            }

            &_m {
                font-size: 16px;
                line-height: 120%;

                padding: 15px 16px;
            }
        }

        &_view {
            &_search {
                background: #121212;
                border-radius: 12px;
                font-weight: 500;

                color: #fff;

                &::placeholder {
                    color: #949494;
                }
            }

            &_white {
                background: #FFFFFF;
                border-radius: 8px;

                color: #121212;

                &:placeholder {
                    color: #D1D2D6;
                }
            }

            &_dark {
                background: #202020;
                border-radius: 8px;
                font-weight: 500;

                color: #FFFFFF;
            }

            &_gray {
                background: #F1F1F1;
                border-radius: 8px;
                font-weight: 500;

                color: #171C34;
            }
        }
    }

    &-icon {
        position: absolute;
        right: calc(16px);

        display: flex;
    }
}