.domainFilters {
    padding: 20px;

    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 8px;

    &-name {
        
    }

    &Item {
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &-field {
            margin-bottom: 12px;

            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;

            display: flex;
            align-items: center;

            color: #121212;

            &_checkbox {
                & svg {
                    margin-right: 8px;
                }
            }

            &_between {
                justify-content: space-between;
            }
        }

        &-label {
            margin-bottom: 12px;

            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;

            color: #121212;
        }

        &-search {
            & svg {
                & path {
                    stroke: #121212;
                }
            }
        }
    }
}