.ownedDomains {
    & .pageLayout-content {
        max-width: 1100px;
        margin: 0 auto;

        padding: 40px 0px;
    }

    &-domains {
        padding: 16px;

        background: #FFFFFF;
        border: 1px solid #DBDBDB;
        border-radius: 8px
    }
}