.buyDomainModal {
    max-width: 880px;

    &-row {
        display: flex;
        justify-content: space-between;
    }

    &-popup {
        position: absolute;
        display: none;

        width: 400px;

        z-index: 1000;

        top: 100%;
        left: 100%;

        background: #202020;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 8px;

        text-decoration: none;
        font-style: normal;
        font-size: 14px;
        line-height: 24px;

        padding: 16px 20px;

        &-title {
            text-decoration: none;

            font-weight: 500;

            color: #FFFFFF;

            margin-bottom: 12px;
        }

        &-text {
            text-decoration: none;

            font-weight: 400;

            color: rgba(255, 255, 255, 0.8);
        }
    }

    &-info {
        width: 50%;

        padding-right: 24px;
        border-right: 1px solid rgba(255, 255, 255, 0.2);

        &-text {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;

            color: #FFFFFF;

            &-popup {
                cursor: pointer;

                position: relative;

                text-decoration: underline;

                &:hover {
                    & .buyDomainModal-popup {
                        display: block;
                    }
                }

                & svg {
                    margin-left: 5px;
                }
            }
        }
    }

    &-form {
        width: 50%;
        padding-left: 24px;

        &-item {
            margin-bottom: 20px;

            &_counter {
                margin-top: 30px;
            }

            &-label {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 120%;

                color: #FFFFFF;

                margin-bottom: 4px;
            }

            &-descr {
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 120%;

                color: #717171;

                margin-bottom: 8px;
            }
        }

        &-info {
            margin-top: 32px;
            margin-bottom: 16px;

            &-item {
                display: flex;
                align-items: center;
                justify-content: space-between;

                padding: 13.5px 0px;

                border-top: 1px solid rgba(255, 255, 255, 0.2);

                &-label {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;

                    color: rgba(255, 255, 255, 0.4);
                }


                &-price {
                    display: flex;
                    align-items: center;

                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;

                    color: #FFFFFF;

                    &_total {
                        font-size: 20px;
                        line-height: 30px;
                    }

                    & svg {
                        margin-right: 4px;
                    }
                }
            }
        }

        &-action {
            width: 100%;

            & .button {
                width: 100%;
            }
        }
    }

    & .title {
        margin-bottom: 30px;
    }

    &-domain {
        display: flex;
        align-items: center;

        margin-bottom: 24px;

        &-image {
            display: flex;

            margin-right: 16px;
            
            & img {
                width: 80px;
                height: 80px;

                border-radius: 8px;
            }
        }

        &-name {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;

            color: #FFFFFF;
        }
    }

    // & .title {
    //     margin-bottom: 16px;
    // }

    // &-domain {
    //     display: flex;
    //     align-items: center;

    //     padding-top: 20px;

    //     border-top: 1px solid rgba(255, 255, 255, 0.2);;

    //     &-image {
    //         margin-right: 24px;

    //         & img {
    //             border-radius: 8px;

    //             width: 164px;
    //             height: 164px;
    //         }
    //     }

    //     &-content {
    //         width: 100%;
    //     }

    //     &-name {
    //         font-style: normal;
    //         font-weight: 500;
    //         font-size: 18px;
    //         line-height: 27px;

    //         color: #FFFFFF;

    //         border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    //         padding-bottom: 32px;
    //         padding-top: 20px;
    //     }

    //     &-price {
    //         padding: 12px;
    //         padding-bottom: 16px;
            
    //         display: flex;
    //         justify-content: space-between;
    //         align-items: center;

    //         &-label {
    //             font-style: normal;
    //             font-weight: 400;
    //             font-size: 14px;
    //             line-height: 21px;

    //             color: rgba(255, 255, 255, 0.4);
    //         }

    //         &-value {
    //             display: flex;
    //             align-items: center;

    //             font-style: normal;
    //             font-weight: 500;
    //             font-size: 16px;
    //             line-height: 24px;

    //             color: #FFFFFF;

    //             & svg {
    //                 margin-right: 8px;
                    
    //                 width: 24px;
    //                 height: 24px;

    //                 & path {
    //                     fill: #FFFFFF;
    //                 }
    //             }
    //         }
    //     }

    //     &-action {
    //         & .button {
    //             width: 100%;
    //         }
    //     }
    // }

    // & .title {
    //     margin-bottom: 32px;
    // }

    // &-label {
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;

    //     font-style: normal;
    //     font-weight: 400;
    //     font-size: 16px;
    //     line-height: 24px;

    //     color: rgba(255, 255, 255, 0.4);
    // }

    // &-domains {
    //     margin-bottom: 24px;
    // }

    // &-action {
    //     & .button {
    //         width: 100%;
    //     }
    // }
}